body {
  margin: 0;
}

.app {
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

textarea {
  width: 100%;
  height: 60vh !important;
  resize: none;
}

button {
  margin-top: 10px;
}

.category {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
